@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("./images/chat-app-bg.png");
  background-position: center;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}
